services:
  app:
    build:
      context: .
      target: development
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - HOST=0.0.0.0
      - NUXT_HOST=0.0.0.0
      - PORT=3000
      - NODE_ENV=development
    ports:
      - "3000:3000"