name: ci

on: push

jobs:
  ci:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [22]

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install node
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node }}
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Build docker image for tests
        run: docker build -t texo-test --target development .

      - name: Lint in docker
        run: docker run --rm texo-test pnpm run lint

      - name: Typecheck in docker
        run: docker run --rm texo-test pnpm run typecheck

      - name: Test in docker
        env:
          FORCE_REAL_PANDOC: 1
        run: docker run --rm -e FORCE_REAL_PANDOC texo-test pnpm vitest run
